.homePage{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainDiv{
  width:70%;
  height:90%;
  background-color: #F9F6FC;

  margin:3% 0 10%;
  position:relative;
}

/*----------------- Header Div -----------------*/

.headerDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;


  background-color: rgb(236, 232, 232);
  height:20%;
  padding:3.5% 2%;
}

.headerDiv h1{
  font-size:30px;
  color:rgb(28,37,89);
}

.headerDiv .newBtn{
  font-size: 20px;
  max-width:200px;
  min-width:150px;

  color:rgb(28,37,89);
  background-color: rgb(0,0,0,0);

  padding:5%;
  border:1px solid rgb(28,37,89);
}

.headerDiv .newBtn:hover{
  cursor: pointer;
  animation:backColor .4s ease forwards;
}

/*------------------------ Form Section ----------------*/

.forms{
  padding:3%;

  display: flex;
  flex-direction: column;
  gap:10px;

  height: 60vh;

  overflow-y: scroll;
}
.forms::-webkit-scrollbar{
  display: none;
}
.forms div{
  padding:2%;
  border:1px solid rgb(28,37,89);
  color:rgb(28,37,89);
}
.forms div:hover{
  cursor: pointer;
  animation:backColor1 .2s ease forwards;
}

/*------------- Direction Section -------------------*/
.direction{
  width:100%;
  text-align: center;
  background-color: rgb(236, 232, 232);

  padding:3% 4%;
}

.direction .img1,.direction .img2{
  height:30px;
  width:auto;
}
.direction .img1:hover,.direction .img2:hover{
  cursor: pointer;
}
.direction .img1{
  margin-right:10px;
}
.direction .img2{
  margin-left:10px;
}

/*------------------- Animation -----------------*/

@keyframes backColor{
  0%{
      /* background-color: rgb(0,0,0,0); */
      color:rgb(28,37,89);
  }
  100%{
      background-color:rgb(28,37,89);
      color:white;
  }
}
@keyframes backColor1{
  0%{
      color:rgb(28,37,89);
  }
  100%{
      background-color:rgb(63, 75, 141);
      color:white;
  }
}